.box{
  background: #f6f2f2;
}
.title{
  text-align: left;
}
.t{
  color:#07b4af;
  font-weight: bold;
}
.submit-btn{
  background:#07b4af;
}
.circular--square {
  border-radius: 50%;
}
.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
.logout{
  color:	#07b4af;
}

.first{
height: 10px;
width: 100%;
background: #ddd;
border-radius: 10px;

}
.second{
height: 10px;
background: #009200;
border-radius: 10px;
}
.danger{
  background-color: red;
  color: white;
  border-radius: 5px;
}
.success{
  background-color: green;
  color: white;
  border-radius: 5px;
}
.green{
  color: green;
}
.cercle {
  width: 130px;
  height: 100px;
  //border-radius: 120px;
  background: 	#00615e;
  text-align: center;
}
.espace {
  width: 100%;
  height: 100px;
  margin:0; padding:0;
}