.signup-col {
  margin: 0px 16px 0px 16px;
  padding-bottom: 20px;
}
.Upload-coll {
  margin: 0px 16px 0px 16px;
  padding-bottom: 20px;
}
.submit-btn{
  background:  #07d5ca;
}
.submit-btn1{
  background:  #07d5ca;
  position: absolute; 
  right: 0;

}
.circular--square {
  border-radius: 50%;
}
.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
