
<ion-header>
  <ion-navbar>
    <!--img class="circular--square" height="55px" width="55px" src="assets/imgs/logo2.png"-->
    <h2 style="float: left; color: #07b4af; ">Add Complaint</h2>
    <ion-buttons end>    <button ion-button class="logout" (click)="myLogOut()"   > Log out &nbsp;<ion-icon color ="#07b4af" name="exit"></ion-icon></button> </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select placeholder="Select One"  [(ngModel)]="myRec.type">
          <ion-option  *ngFor=" let types of mood" [value]="types.type" >{{ types.type }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-label>Project</ion-label>
          <ion-select placeholder="Select One"  [(ngModel)]="myRec.project">
            <ion-option  *ngFor=" let project of project" [value]="project.id"  >{{ project.name }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>Descriprtion</ion-label>
            <ion-textarea type="text" [(ngModel)]="myRec.description"></ion-textarea>
          </ion-item>
          <div>
            <br> 
        <ion-row>
              <div>
                <input  type="file" id="profile" (change)="onFileSelect()" />
              </div>    
          </ion-row>


                    </div>
        </ion-list>


        <ion-row>
            <ion-col class="signup-col">
              <button ion-button class="submit-btn1"  type="submit" (click)="add()" >Add Complain  &nbsp; <ion-icon name="md-add"></ion-icon></button>
            </ion-col>
          </ion-row>

</ion-content>
